<html>
<head>
    <link rel="icon" href="images/favicon.png">
    <title>DataBite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://cdn5.bigcommerce.com/r-a2832a4688ce29764def846020ed5b29c4ced5ef/themes/__master/Styles/styles.css" type="text/css" rel="stylesheet" />
    <link href="http://cdn5.bigcommerce.com/r-4d6a264212326b5ad5c97a6f9daf83cc47e28858/themes/Organicfood/Styles/styles.css" media="all" type="text/css" rel="stylesheet" />
    <link href="http://cdn5.bigcommerce.com/r-4d6a264212326b5ad5c97a6f9daf83cc47e28858/themes/Organicfood/Styles/green.css" media="all" type="text/css" rel="stylesheet" />
    <style type="text/css"> #Container { background-image: url("../images/headerImage.jpg"); } </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
<br><br><br><br><br><br><br>
<center><h1>Something Went Wrong !!</h1></center>
<!--<h1><%= message %></h1
<h2><%= error.status %></h2>>-->
<!--<pre><%= error.stack %></pre>-->
</body>
</html>