<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app = "mine">

<head>
    <title>DataBite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://cdn5.bigcommerce.com/r-a2832a4688ce29764def846020ed5b29c4ced5ef/themes/__master/Styles/styles.css" type="text/css" rel="stylesheet" />
    <link href="http://cdn5.bigcommerce.com/r-4d6a264212326b5ad5c97a6f9daf83cc47e28858/themes/Organicfood/Styles/styles.css" media="all" type="text/css" rel="stylesheet" />
    <link href="http://cdn5.bigcommerce.com/r-4d6a264212326b5ad5c97a6f9daf83cc47e28858/themes/Organicfood/Styles/green.css" media="all" type="text/css" rel="stylesheet" />
    <style type="text/css"> #Container { background-image: url("http://cdn1.bigcommerce.com/server1000/4d44c/product_images/header_images/Organicfood_headerImage.jpg"); } </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script  type = "text/javascript">
        var mine = angular.module('mine',[]);

        //controller 0
        mine.controller("my",function($scope){
            $scope.game = "Cricket";
        });

    </script>
</head>


<body>
<div id="Container">
    <div id="Outer">
        <div id="Header">
            <br class="Clear" />
        </div>
        <div id="Menu">
            <center><%= title%></center>
        </div>


        <div id="Wrapper">

            <!--    <div class="Left" id="LayoutColumn1">

             !--            <div class="Block CategoryList Moveable Panel" id="SideCategoryList">
                                  <h2>Start Shopping!</h2>
                                  <div class="BlockContent">
                                      asd
                                  </div>
                              </div>


                  <div class="Block SideRelatedProducts Moveable Panel" style="" id="SideProductRelated">
                      <h2>Related Products</h2>
                      <div class="BlockContent">
                          <br><br>


                      </div>
                  </div>




              </div>-->

            <div class="Content" id="LayoutColumn2" ><!--ng-controller="my"-->
                <!--{{game}}
                <br>--><h2>Thank You Visit Again</h2>
                        You have Bought <%= data[0] %>&nbsp;<%= data[1]%>&nbsp;<%= data[2]%>
                </p>

            </div>
            -
        </div>

        <br class="Clear" />

    </div>
</div>

<div id="Footer">
    <p>RohithVutnoor</p>
</div>

</body>
</html>